YANBAN_SANDBOX_BROKER_ENABLED=true
YANBAN_SANDBOX_BROKER_MODE=PRODUCTION
YANBAN_SANDBOX_BROKER_ADDRESS=127.0.0.1
YANBAN_SANDBOX_BROKER_REMOTE=false
YANBAN_SANDBOX_BROKER_USER=yanban-sandbox
YANBAN_SANDBOX_BROKER_TOKEN=<DEPLOYMENT_SECRET>
YANBAN_SBX_EXECUTABLE=/usr/local/bin/sbx
YANBAN_SANDBOX_WORKSPACE_ROOT=/var/lib/yanban-sandbox/work
YANBAN_SBX_HOME=/var/lib/yanban-sandbox
YANBAN_SBX_CONFIG_HOME=/var/lib/yanban-sandbox/.config
YANBAN_SBX_DATA_HOME=/var/lib/yanban-sandbox/.local/share
YANBAN_SBX_STATE_HOME=/var/lib/yanban-sandbox/.local/state
YANBAN_SANDBOX_DB_URL=jdbc:mysql://127.0.0.1:13306/yanban_sandbox?useSSL=true
YANBAN_SANDBOX_DB_USER=yanban_sandbox_broker
YANBAN_SANDBOX_DB_PASSWORD=<DEPLOYMENT_SECRET>
